@model DepartmentDetailsToReturnDto
@{
    ViewData["Title"] = "Delete";
    ViewBag.Acion = "Delete";
}

<h1 class="my-5 w-75">Delete Department</h1>

<partial name="Partial/DetalisDeleteDepartmentPartial" />

