@model RoleViewModel
@{
    ViewData["Title"] = "Create";
    ViewBag.Action = "Create";

}

<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Create Role</h1>
    <div class="container mt-5">
        <div class="card shadow-lg p-4 bg-white rounded">
            <h2 class="text-center mb-4 text-primary">Create Role</h2><form method="post" asp-controller="Role" asp-action="Create" enctype="multipart/form-data">
               
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                <div class="mb-3">
                    <label class="form-label fw-bold"> Name</label>
                    <input asp-for="Name" class="form-control shadow-sm" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>


                <div class="text-center mt-4">
                    <button class="btn btn-success btn-lg px-4 shadow-sm">Create</button>
                    <a asp-controller="Role" asp-action="Index" class="btn btn-outline-dark btn-lg px-4">Back to list</a>
                </div>
            </form>
        </div>

    </div>


</div>

@section ValidationScripts
{
    <partial name="_ValidationScriptsPartial" />
}