@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1 class="my-5 w-75 m-auto">Delete Role</h1>

<partial name="Partials/DetalisDeleteRolePartial" />


    <div class="mt-4">
    <form method="post" asp-controller="Role" asp-action="ConfirmDelete" asp-route-id="@Model.Id">
            <input type="submit" class="btn btn-danger" value="Delete" />
            <a asp-action="Index" class="btn btn-outline-dark">Back To list</a>
        </form>
    </div>



