@model string
<td>
    <a class="btn btn-sm btn-info text-white"  asp-action="Details" asp-route-id="@Model">Details</a>
    <a class="btn btn-sm btn-success"  asp-action="Edit" asp-route-id="@Model">Edit</a>
    <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@Model">Delete</button>
</td>